* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    text-transform: capitalize;
    /*text-align: center;*/
}

.titulo_principal {
    margin-top: 120px;
}

.cards {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: 1px rgba(211, 211, 211, 0.486) solid;
    margin: 10px;
   

}

.cards:hover {
    transition: 0.6s;
    box-shadow: 5px 5px 20px lightgray;
}

.cards img {
    transition: 0.2s;
    width: 150px;
    border-radius: 20%;
    margin-bottom: 10px;
    padding: 1px;
}

.main_container {    
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

.social_media {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.social_media a i {
    color: black;
    font-size:x-large;
    transition: .5s;
    padding: 1px 0;

}

.social_media a i:hover {
    transition: .5s;
    transform: scale(1.8);
}