.app {
    background: #f1f1f1; 
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:  /*define cuales son la areas a trabajar en el orden a trabajar*/
    "encabezado"
    "contenido"
    "rodapie";
    grid-template-columns: auto; /* tamaño de la pagina para la columna*/
    grid-template-rows: 50px auto auto; /* 50px para el header, auto para el  footer y 100vh (virtual head o tamaño de pagina)*/
    
}

.encabezado {

    align-items: center;
    display: flex;
    grid-area: encabezado;  /*se indica cual de las areas ya definidas es esta*/
    padding: 0 2rem; 
    
}

.menu__link {
    color: #333333;
    padding: .5rem 1rem;
}

.menu__link:hover, .menu__link:active{
    border-bottom: 2px solid #0073e6;

}

.contenido {

    
    grid-area: contenido; /*se indica cual de las areas ya definidas es esta*/
    padding: 0 .5rem;


}

.rodapie { 

   
    /*grid-area: rodapie; /*se indica cual de las areas ya definidas es esta*/
    background-color: #fdfdfd;
    color: #333333;
    padding: 1rem;
    text-align: center;

    
}